/* ========================
   VARIABLES & BASE
=========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url('/Topography/topography33.svg');
  background-repeat: repeat;
  background-size: 20%;
  background-position: center;
}

.v-application--wrap,
.v-main,
.v-col,
.main-content {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

video {
  display: block;
}


header {
  display: none;
}

/* Variables personnalisées */
:root {
  --primary-color: #003b46;       /* Couleur de fond principale */
  --secondary-color: #f1642c;     /* Couleur secondaire pour les accents */
  --text-color: #ffffff;          /* Couleur du texte principal */
  --background-color: #ffffff;    /* Couleur de fond générale */
}

/* Base */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.contact-pattern {
  background-image: url('/Topography/topography33.svg');
  background-repeat: repeat;
  background-position: center;
  background-size: 20%;
}

h1, h2, h3 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 40px;
}

.page-blanche_app-title {
  font-size: 50px !important; /* ou ce que tu veux */
}
/* Bouton personnalisé */
.btn-custom {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
.btn-custom:hover {
  background-color: #019d92; 
}

/* ========================
   SIDEBAR
=========================*/

.sidebar {
  font-family: 'Urbanist', sans-serif;
  font-weight: bold;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  padding-top: 0.5rem;
  width: 260px;
  min-width: 260px;
  max-width: 260px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer et Edge */
  height: 100vh; /* pleine hauteur pour scroll */
  overflow-x: hidden; /* désactive complètement le scroll horizontal */
}

.sidebar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.sidebar ul {
  list-style: none; /* très important : pas de puces */
  margin: 0;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  padding: 0.8rem 0; /* plus d'espace vertical */
  text-align: center;
}

.sidebar ul li::before {
  content: none; /* enlève toute déco avant les éléments */
}

.sidebar ul li a {
  font-family: 'Urbanist', sans-serif;
  font-size: 1.2rem; /* taille un peu plus grande */
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

.sidebar ul li a:hover {
  color: #22b17a;
}

.content {
  margin-left: 260px; /* adapte la marge à la largeur réelle de la sidebar */
  padding: 0;
}

@media (min-width: 768px) {
  .content {
    margin-left: 260px;
  }
}

@media (max-width: 960px) {
  .sidebar {
    position: relative;
    width: 100%;
    min-width: unset;
    max-width: unset;
    padding: 1rem 0;
    height: auto;
    overflow-y: visible;
  }

  .main-content {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/* Liste déroulante scrollable */
.scrollable-list {
  max-height: 50vh;      /* Limite la hauteur */
  overflow-y: auto;      
  padding-right: 0.6rem; /* Évite la superposition scrollbar/texte */
  margin-top: 1.25rem;

  /* Personnalisation scrollbar (Firefox & Webkit) */
  scrollbar-width: thin;   
  scrollbar-color: transparent transparent; 
}
.scrollable-list::-webkit-scrollbar {
  width: 8px;
}
.scrollable-list::-webkit-scrollbar-thumb {
  background-color: transparent; 
}
.scrollable-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Flèches scrollbar webkit */
.scrollable-list::-webkit-scrollbar-button:vertical:start {
  content: "";
  display: block;
  width: 12px; height: 12px;
  background-color: transparent;
  border-left: 2px solid #22b17a;
  border-bottom: 2px solid #22b17a;
  transform: rotate(45deg);
  margin: 0 auto;
}
.scrollable-list::-webkit-scrollbar-button:vertical:end {
  content: "";
  display: block;
  width: 12px; height: 12px;
  background-color: transparent;
  border-left: 2px solid #22b17a;
  border-top: 2px solid #22b17a;
  transform: rotate(225deg);
  margin: 0 auto;
}

/* Flèches au-dessus du menu */
.menu-arrow_H,
.menu-arrow_B {
  width: 5px;
  height: 5px;
  background-color: transparent;
  border-left: 3px solid #22b17a;
  border-bottom: 3px solid #22b17a;
  margin: 0 auto;
}
.menu-arrow_H {
  transform: rotate(135deg);
  margin-bottom: 0.1px;
}
.menu-arrow_B {
  transform: rotate(318deg);
  margin-bottom: 0.6rem;
}

.active-link {
  color: #22b17a;
  font-weight: bold;
}

/* ========================
   VIDEO EN ARRIERE-PLAN (App.vue)
=========================*/

/* Video boucle en haut */ 



/* ========================
   BANDEAU BLEU
=========================*/

.bandeau_bleu {
  position: relative;
  background: linear-gradient(to right, #060A27, #152742, #5f7b9e);
  padding: 5vw 0;
  width: 115%;
  left: 0; right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-x: hidden;
}

/* Container texte dans le bandeau */
.bandeau_bleu-text-container {
  max-width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-right: 2vw;
  padding: 0 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

/* Texte du bandeau */
.bandeau_bleu-text {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: rgb(238, 232, 232);
  letter-spacing: 1.5px;
  white-space: normal; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

/* Traits au-dessus et en dessous du texte */
.bandeau_bleu-text-container::before,
.bandeau_bleu-text-container::after {
  content: "";
  width: 15vw;
  height: 4px;
  background: linear-gradient(to right, #22b17a, #4fad89, #74b19a);
  display: block;
}

/* ========================
   PAGE BLANCHE (Nos services, etc.)
=========================*/

.page-blanche_app {
  width: 100%;
  padding: 3rem 0; /* ou 3rem 3rem selon le confort */
  box-sizing: border-box;
  justify-content: center; 
}

.page-blanche_app-wrapper {
  max-width: 1100px; 
  width: 100%;
  margin-left: auto;     /* centre horizontalement */
  margin-right: auto;    /* centre horizontalement */
  padding: 2rem 3rem;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  box-shadow: 0px 30px 60px rgba(16, 218, 134, 0.1);
}


/* Titre page blanche */
.page-blanche_app-title {
  font-size: 2.375rem; /* 38px approx. */
  font-weight: bold;
  color: #777777;
  margin-bottom: 20px;
  max-width: 80%;
  margin: 0 auto;
  text-align: center;  /* On centre le titre */
}

/* Trait sous le titre */
.page-blanche_app-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #8BC367;
  margin: 8px auto 0;
}

/* Blocs internes */
.page-blanche_app-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

/* Logos */
.page-blanche_app-logo img {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Texte interne */
.page-blanche_app-content {
  max-width: 80%;
  text-align: center;
}
.page-blanche_app-content h3 {
  font-size: 22px;
  color: #8BC34A;
  margin: 15px 0;
}
.page-blanche_app-content p {
  font-size: 16px;
  color: #888484;
  margin: 15px 0;
}

/* Trait de séparation */
.border-t-2 {
  border-top: 2px solid #8BC367;
  width: 80%;
  max-width: 800px;
  margin: 2px auto;
}

.video-wrapper {
  width: 100%;
  height: 60vh;
  overflow: hidden;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}


/* ========================
   VIDEO NOTRE CONSTAT
=========================*/

.video-app-constat {
  position: relative;
  width: 100%;
  max-width: 950px;
  margin: 2rem auto;
  overflow: hidden;
  box-shadow: 0px 30px 50px rgba(164, 212, 172, 0.1);
}

.video-app-constat iframe {
  width: 100%;
  height: 500px;
  border-radius: 12px;
}

/* ========================
   TROMBINOSCOPE
=========================*/

.trombinoscope-app-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
  justify-content: center;
  align-items: center;
  gap: 1em; 
}

.profile {
  text-align: center;
  max-width: 250px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 30px;
  border: 2px solid #8BC367;
}

.profile-name {
  font-size: 1.125rem; /* 18px */
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #333;
}
.profile-title {
  font-size: 1.125rem; 
  font-style: italic;
  font-family: "Georgia", serif;
  color: #555;
}
.profile-phone {
  font-size: 1rem;
  font-weight: bold;
  color: #25A875;
}
.profile-role {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
}

/* Video animation eau */

.video-banner {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 550px;
  margin-left: calc(-50vw + 50%);
  overflow: hidden;
}

.video-banner video {
  width: 120vw;
  height: 100%;
  object-fit: cover;
}

/* Video gif */

.video-banner-gif {
  position: relative;
  width: 100%;
  height: 500px;   /* Hauteur fixe ou adaptable selon besoin */
  overflow: hidden;
}

.video-banner-gif video {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* Garde le bon ratio sans déformer */
  object-position: center;  /* Centre la vidéo */
}


/* ---------Style de Scroll ------*/

/* Scrollbar générale */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #e7e9e6;
}

::-webkit-scrollbar-thumb {
  background-color: #02081a;  /* Exemple : vert foncé pour le site */
  border-radius: 6px;
}

/* Scrollbar personnalisée pour la bulle page Equipe */
.bulle-scroll::-webkit-scrollbar {
  width: 8px;
}

.bulle-scroll::-webkit-scrollbar-track {
  background: #ffffff;  /* Fond blanc ou autre */
}

.bulle-scroll::-webkit-scrollbar-thumb {
  background-color: #8BC367;  /* Vert clair BTC pour la bulle */
  border-radius: 4px;
}


.emoji-compatible {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", system-ui, sans-serif;
}
